
/***************header style************************/
header {

}
a:focus{outline: none;}
nav {
	text-align:right;
	display: inline-block;
	width:70%;
	position: relative;
	top: 30px;		
}
nav ul { 
	margin: 0; padding:0;
	display:inline;
}
nav ul li { 
	margin: 0px;
	display: inline;	
	background-color: rgba(0,0,0,0.4);
	padding: 10px 20px;
	border-bottom: 1px solid #909090;
	float: right;
	}
nav ul a{ font-weight: bold; text-decoration: none; color:white;}
nav ul li:hover, nav ul li:active,nav ul li:focus{
	border-bottom: 1px solid #1292bc;
	color:white;
	//	background-color: rgba(0,0,0,0.9);
}
nav ul a:hover, nav ul a:active,nav ul a:focus{
	color: white;
	text-decoration:none;
}
#logo{
	vertical-align: middle;
}