@media (max-width: 767px) {
	.navbar-toggle, .navbar-brand{
		display: inline;
	}

}
@media (max-width: 660px) {
	.my-button-submit, .my-txb-email{
		width:100%;
	}
	article{
		margin:0px;
	}
	.project-item, .pre-footer, .project-caption{
	 margin-left: 10%;
	 margin-right: 10%;
	}
	.carousel-caption{
		display:none;
	}
	.footer-text, .footer-icons{
		margin-left: 2%;
		margin-right: 2%;
	}
}
@media (max-width: 800px) {
	#contact-caption h1 {
		display:none;
	}
	#contact-content{
		width: 100%;
	}
	#contact-form input , #contact-form button, #contact-form textarea{
		width: 90%;
	}
	.side-bar{
		float: none;
		width: 100%;
	}
	.contact-map{
		width: 100%;
	}
}